/* https://github.com/mgmeyers/obsidian-style-settings */
/* @settings

name: Graph Banner Enhanced
id: graph-banner-enhanced
settings:
  - id: banner-height
    title: Banner Height
    description: The height of the banner. (e.g. 300px)
    type: variable-text
    default: 300px

*/

:root {
  --banner-height: 300px;
  --banner-margin-bottom: 16px;
}

.graph-banner-content {
  width: auto;
  height: var(--banner-height) !important;
  margin-block-end: var(--banner-margin-bottom);
  border: 2px solid transparent;

  & > .graph-banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &[data-interactive="true"] {
    border: 2px solid var(--color-accent);
  }
  &:not([data-interactive="true"]) > canvas {
    pointer-events: none;
  }
}

.hidden {
  display: none;
}

/* Prevents layout shift */
.inline-title:not(.markdown-embed-content .inline-title):not(
  :has(+ .graph-banner-content)
) {
  margin-block-end: calc(
    var(--banner-height) + var(--banner-margin-bottom)
      + var(--inline-title-margin-bottom)
  );
}
